<div class="modal fade" tabindex="-1" id="kt_modal_{{t.nom}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><h5 class="modal-title">Attribuer un Technicien</h5></button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><h3>Tache: <p>{{t.nom}}</p></h3> </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                </div>
              

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                
              <h3>Tache: <p>{{t.nom}}</p></h3> 
            </div>
            <form action="" id="form_att_{{t.nom}}">
              <div>
                <input type="hidden" name="ta" id="{{t.nom}}_id" value="{{t.id}}">
              </div>
              <div>
                <select name="tec_{{t.nom}}" class="form-select form-select-solid" data-control="select2" data-placeholder="Selectioner les technicien" data-allow-clear="true" >
                  
                  {% for te in tech %}
                  <option value="{{te.id}}">{{te.nom}}</option>
                  
                  {% endfor %}
                </select>
              </div>
            </form>

            <div class="modal-footer">
              
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">fermer</button>
                <button type="submit" id="subm" class="btn btn-primary" onclick="atts('{{t.nom}}')" >Attribuer</button>
            </div>
        </div>
    </div>
</div>