{% extends 'base/body.html' %}
{% load static %}
{% block title %} details client {% endblock title %}
{% block body %}

<div id="kt_app_content" class="app-content pb-0">
    <!--begin::Navbar-->
    <div class="card mb-5 mb-xl-10">
        <div class="row card-body pt-9 pb-0">
            <!--begin::Details-->
            <div class="col d-flex flex-wrap flex-sm-nowrap mb-3">
                <!--begin: Pic-->
                <div class="me-7 mb-4">
                    <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                        <img src="{% static object.photo %}" alt="{{object.name}}" />
                        <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                    </div>
                </div>
                <!--end::Pic-->
                <!--begin::Info-->
                <div class="flex-grow-1">
                    <!--begin::Title-->
                    <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                        <!--begin::User-->
                        <div class="d-flex flex-column">
                            <!--begin::Name-->
                            <div class="d-flex align-items-center mb-2">
                                <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"> {{object.name}} </a>
                                <a href="#">
                                    <i class="ki-duotone ki-verify fs-1 text-primary">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </a>
                                <a href="#" class="btn btn-sm btn-light-success fw-bold ms-2 fs-8 py-1 px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan"></a>
                            </div>
                            <!--end::Name-->
                            <!--begin::Info-->
                            <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                <i class="ki-duotone ki-profile-circle fs-4 me-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>{{object.responsable}}</a>
                                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                <i class="ki-duotone ki-geolocation fs-4 me-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>{{object.address}}</a>
                                <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                                <i class="ki-duotone ki-sms fs-4 me-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>{{object.email}}</a>
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::User-->
                        <!--begin::Actions-->
                        
                        <!--end::Actions-->
                    </div>
                    <!--end::Title-->
                    <!--begin::Stats-->
                    <div class="d-flex flex-wrap flex-stack">
                        <!--begin::Wrapper-->

                        <!--end::Wrapper-->
                        <!--begin::Progress-->
                        
                        <!--end::Progress-->
                    </div>
                    <!--end::Stats-->
                </div>
                <!--end::Info-->
            </div>
            <div class="col d-flex flex-wrap flex-sm-nowrap mb-3">
                <div id="charts_2" class="min-h-auto ps-4 pe-6" style="height: 300px" ></div>
            </div>
            <!--end::Details-->
            <!--begin::Navs-->
            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="/client/{{object.id}}/detail">Detail</a>
                </li>
                <!--end::Nav item-->
            </ul>
            <!--begin::Navs-->
        </div>
    </div>
    <!--end::Navbar-->
    <!--begin::details View-->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <!--begin::Card header-->
        <div class="card-header cursor-pointer">
            <!--begin::Card title-->
            <div class="card-title m-0">
                <h3 class="fw-bold m-0">Details du Profile </h3>
            </div>
            <!--end::Card title-->
            <!--begin::Action-->
            <button type="button" class="btn btn-primary btn-sm align-self-center" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                <i class="ki-duotone ki-plus fs-2"></i>Editer le Profile</button>
            
            <!--end::Action-->
        </div>
        <!--begin::Card header-->
        <!--begin::Card body-->
        <div class="card-body p-9">
            <!--begin::Row-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-semibold text-muted">Nom </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <span class="fw-bold fs-6 text-gray-800"> {{object.name}}</span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-semibold text-muted">TelePhone
                <span class="ms-1" data-bs-toggle="tooltip" title="Phone number must be active">
                    <i class="ki-duotone ki-information fs-7">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span></label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bold fs-6 text-gray-800 me-2">{{object.phone}}</span>
                    <span class="badge badge-success">Verifier</span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-semibold text-muted">Contact</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <span class="fw-bold fs-6 text-gray-800">{{object.email}}, {{object.phone}}</span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->

            <!--end::Notice-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::details View-->
    <!--begin::Row-->
    <div class="row gy-5 g-xl-10">
        <!--begin::Col-->
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6">
            <!--begin::Table Widget 5-->
            <div class="card card-flush h-xl-100">
                <!--begin::Card header-->
                <div class="card-header pt-7">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-dark">Liste des Agence</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6"></span>
                    </h3>
                    <!--end::Title-->
                    <!--begin::Actions-->
                    <div class="card-toolbar">
                        <!--begin::Filters-->
                        
                        <!--begin::Filters-->
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-3" id="tab_ag">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-150px">Agence</th>
                                <th class="min-w-150px">nbr d'appelant</th>
                                <th class="text-end pe-3 min-w-100px">responsable</th>
                                
                                
                                
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                            {% for t in object.agence_set.all %}
                            
                            <tr>
                                <!--begin::Item-->
                                <td>
                                    <a href="#" class="text-dark text-hover-primary">{{t.name}}</a>
                                </td>
                                <td> {{t.appelant_set.all.count}}  </td>
                                <!--end::Item-->
                                <!--begin::Product ID-->
                                <td class="text-end"> {{t.responsable}} </td>
                                <!--end::Product ID-->
                                <!--begin::Date added-->
                                <!--end::Status-->
                                <!--begin::Qty-->
                                
                                <!--end::Qty-->
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Table Widget 5-->
        </div>
        <!--end::Col-->
        <div class="col-xl-6">
            <!--begin::Table Widget 5-->
            <div class="card card-flush h-xl-100">
                <!--begin::Card header-->
                <div class="card-header pt-7">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-dark">Liste des Appelant</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6"></span>
                    </h3>
                    <!--end::Title-->
                    <!--begin::Actions-->
                    
                    <!--end::Actions-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-3" id="tab_app">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-150px">appelants</th>
                                <th class="min-w-150px">nbr de Taches</th>
                                
                                
                                
                                
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                            {% for t in object.agence_set.all %}
                            
                                {% for i in t.appelant_set.all %}
                                
                                <tr>
                                    <!--begin::Item-->
                                    <td>
                                        <a href="#" class="text-dark text-hover-primary">{{i.name}}</a>
                                    </td>
                                    <td> {{i.tache_set.all.count}} </td>
                                    <!--end::Item-->
                                    <!--begin::Product ID-->
                                   
                                    <!--end::Product ID-->
                                    <!--begin::Date added-->
                                    
                                    <!--end::Status-->
                                    <!--begin::Qty-->
                                    
                                    <!--end::Qty-->
                                </tr>
                                {% endfor %}
                            
                            {% endfor %}
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Table Widget 5-->
        </div>
    </div>
    
    <div class=" row gy-5 g-xl-10">
        <div class="col-xl-6">
            <!--begin::Table Widget 5-->
            <div class="card card-flush h-xl-100">
                <!--begin::Card header-->
                <div class="card-header pt-7">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-dark">Liste des Taches</span>
                        <span class="text-gray-400 mt-1 fw-semibold fs-6"></span>
                    </h3>
                    <!--end::Title-->
                    <!--begin::Actions-->
                    
                    <!--end::Actions-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-3" id="tab_tache">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-15px">Nom</th>
                                <th class="min-w-15px">Appelant</th>
                                <th class="min-w-15px">agence</th>
                                <th class="text-end pe-3 min-w-100px">responsable</th>
                                
                                
                                
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                            {% for t in object.agence_set.all %}
                            jj
                                {% for i in t.appelant_set.all %}
                                    {% for ts in i.tache_set.all %}
                                    
                                    <tr>
                                        <!--begin::Item-->
                                        <td>
                                            <a href="#" class="text-dark text-hover-primary">{{ts.nom}}</a>
                                        </td>
                                        <td>
                                            <a href="#" class="text-dark text-hover-primary">{{ts.appelant.name}}</a>
                                        </td>
                                        <td>
                                            <a href="/client/{{t.id}}/detail" class="text-dark text-hover-primary">{{t.name}}</a>
                                        </td>
                                        <!--end::Item-->
                                        <!--begin::Product ID-->
                                        <td class="text-end"> {{t.responsable}} </td>
                                        <!--end::Product ID-->
                                        <!--begin::Date added-->
                                        
                                        <!--end::Status-->
                                        <!--begin::Qty-->
                                        
                                        <!--end::Qty-->
                                    </tr>

                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Table Widget 5-->
        </div>
    </div>
    <!--end::Row-->
</div>  
<script src="{% static 'assets/plugins/custom/datatables/js/jquery.js' %}"></script>
<script src="{% static 'assets/plugins/DataTables/datatables.js' %}"></script>

<script>
$("#tab_ag").DataTable();
$("#tab_app").DataTable();
$("#tab_tache").DataTable({
    //"scrollY": "500px",
   // "scrollCollapse": true,
    //"dom": "<'table-responsive'tr>"
});

</script>         
{% endblock body %}