{% extends 'base/body.html' %}
{% load static %}
{% block title %} Liste des client {% endblock title %}

{% block body %}
<div id="kt_app_content" class="app-content pb-0">
    <!--begin::Card-->
    <div class="card table-responsive rounded mb-3">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Chercher un client" />
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                    <!--begin::Filter-->
                    <!--begin::Add user-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                    <i class="ki-duotone ki-plus fs-2"></i>Creer un Client</button>
                    <!--end::Add user-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Group actions-->
                <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
                    <div class="fw-bold me-5">
                    <span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
                    <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete Selected</button>
                </div>
                <!--end::Group actions-->
                <!--begin::Modal - Adjust Balance-->
                {% include 'clients/form_client.html' %}
                <!--end::Modal - New Card-->
                <!--begin::Modal - Add task-->
                
                <!--end::Modal - Add task-->
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body py-4">
            <!--begin::Table-->
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="client_table">
                <thead>
                    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                        <th class="w-10px pe-2">
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_users .form-check-input" value="1" />
                            </div>
                        </th>
                        {% for tf in field %}
                            <th class="min-w-125px"> {{tf}} </th>
                            {% endfor %}
                        <th class="text-end min-w-100px">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 fw-semibold">
                    {% for t in client %}
                    <tr>
                        <td>
                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="1" />
                            </div>
                        </td>
                        <td class="d-flex align-items-center">
                            <!--begin:: Avatar -->
                            <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                <a href="#">
                                    <div class="symbol-label">
                                        <img src="{% static t.logo %}" alt="{{t.nom}}" class="w-100" />
                                    </div>
                                </a>
                            </div>
                            <!--end::Avatar-->
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="/technicien/{{t.id}}/detail" class="text-gray-800 text-hover-primary mb-1">{{t.name}}</a>
                                <span>{{t.email}}</span>
                                <span>{{t.phone}}</span>
                                
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td>{{t.responsable}}</td>
                        <td>{{t.address}} <br>
                            <span>{{t.city}}</span>
                        </td>
                        
                        <td class="text-end">
                            <div class=" list-action">
                                <a href="/client/{{t.id}}/detail" class="mr-5" data-toggle="tooltip" data-kt-menu-placement="bottom-end" title="" data-original-title="View"
                                    href="#"><i class="fas fa-eye mr-0"></i></a>
                                <!-- a href="/tasks/{{t.id}}/delete" class="mr-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                    href="#"><i class="fas fa-edit mr-"></i></!-->
                                
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>

<script src="{% static 'assets/plugins/custom/datatables/js/jquery.js' %}"></script>
<script src="{% static 'assets/plugins/DataTables/datatables.js' %}"></script>

<script>
$("#client_table").DataTable();
</script>

{% endblock body %}