{% include 'base/components/user_panel.html' %}
		<!-- end::User Panel-->
		{% include 'modal/add.html' %}
		<!--begin::Quick Cart-->
		{% include 'base/components/quick_panel.html' %}
		<!--end::Quick Cart-->
		<!--begin::Quick Panel-->
		{% include 'base/components/quick_panel2.html' %}
		<!--end::Quick Panel-->
		{% include 'base/components/chat_panel.html' %}
		<!--end::Chat Panel-->
		<!--begin::Scrolltop-->
		{% include 'base/components/scroll.html' %}
		<!--end::Scrolltop-->
		<!--begin::Sticky Toolbar-->
		{% include 'base/components/tool_bar.html' %}
		<!--end::Sticky Toolbar-->
		<!--begin::Demo Panel-->
		{% include 'base/components/demo_panel.html' %}
		<!--end::Demo Panel-->
		{% include 'base/components/set.html' %}
		<!--end::Page Scripts-->
		