<!--begin::Actions-->
<div class="d-flex align-items-center gap-2 gap-lg-5">
	<!--begin::Secondary button-->
	<div class="m-0">
		<!--begin::Menu-->
		<a href="#" class="btn btn-flex btn-sm h-40px btn-light fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
			History
		</a>
<!--layout-partial:partials/menus/_menu-1.html-->
		<!--end::Menu-->
	</div>
	<!--end::Secondary button-->
	<!--begin::Primary button-->
	<a href="#" class="btn btn-flex btn-sm h-40px fw-bold btn-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">
		New <span class="d-none d-sm-inline">Ticket</span>
	</a>
	<!--end::Primary button-->
</div>
<!--end::Actions-->