  <!--begin::Breadcrumb-->
  <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-3">
            <!--begin::Item-->
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                            <a href="?page=index" class="text-white text-hover-primary">
                                                            <i class="ki-duotone ki-home text-gray-700 fs-6"></i>                                                    </a>
                                    </li>
                        <!--end::Item-->
                            <!--begin::Item-->
                <li class="breadcrumb-item">
                    <i class="ki-duotone ki-right fs-5 text-gray-700 mx-n1"></i>                </li>
                <!--end::Item-->
            <!--begin::Item-->
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                            Dashboards                                    </li>
                        <!--end::Item-->
            </ul>
    <!--end::Breadcrumb-->