

<ol class="breadcrumb fw-semibold mb-3">
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1"><a href="{% url 'profile' %}"><i class="ki-duotone ki-home text-gray-700 fs-6"></i></a></li>
    {% for item in breadcrumb %}
        {% if not forloop.last %}
            <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ item.label }}</li>
        {% endif %}
    {% endfor %}
</ol>