
<div class="modal fade" tabindex="-1" id="taskInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="m_title">:</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col " id="r1_c1"> </div>
                    <div class="col " id="r1_c2"> </div>
                    <div class="col " id="r1_c3"> </div>
                </div>
                <div class="row">
                    <div class="col " id="r2_c1">g </div>
                    <div class="col " id="r2_c2">g </div>
                    <div class="col " id="r2_c3">g </div>
                </div>
            </div>

            <div class="modal-footer">
                <div id="my-id" class="uk-margin-auto-vertical" uk-modal>
                    
                </div>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>

            </div>
        </div>
    </div>
</div>

