{% load static %}
<script>var hostUrl = "{% static 'assets/' %}";</script>
<script src="{% static 'assets/plugins/custom/datatables/js/jquery.js' %}"></script>

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->

<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>


<script src="{% static 'assets/js/custom/apps/user-management/users/list/table.js' %}"></script>


<script src="{% static 'assets/plugins/DataTables/datatables.js' %}"></script>

<!-- script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></!-->
<!-- script src="{% static 'assets/js/js.js' %}"></!-->

<!-- script src="{% static 'assets/plugins/DataTables/Responsive-2.5.0/js/dataTables.responsive.js' %}"></!-->
