<!-- Modal pour créer un nouvel appelant -->
<div class="modal fade" id="kt_modal_add_appelant" tabindex="-1" aria-hidden="true">
    <!-- Modal dialog -->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" id="kt_modal_add_appelant_header">
                <!-- Modal title -->
                <h2 class="fw-bold">Créer un nouvel appelant</h2>
                <!-- Close button -->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
            </div>
            <!-- Modal header -->
            <!-- Modal body -->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!-- Form -->
                <form id="kt_modal_add_appelant_form" class="form" method="">
                    {% csrf_token %}

                    <!-- Scroll -->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_appelant_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_appelant_header" data-kt-scroll-wrappers="#kt_modal_add_appelant_scroll" data-kt-scroll-offset="300px">
                        <!-- Input group -->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Nom de l'appelant</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="nom_appelant" id="nom_appelant" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Nom de l'appelant" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->

                        <!-- Actions -->
                        <div class="text-center pt-15">
                            <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                            <!-- ... Autres éléments HTML ... -->
                            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                <span class="indicator-label">Soumettre</span>
                                <span class="indicator-progress">Veuillez patienter...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!-- ... Autres éléments HTML ... -->

                        </div>
                        <!-- Message display area -->
                        <div id="message-area-appelant" class="mt-3"></div>
                    </div>
                    <!-- Scroll -->
                </form>
                <!-- Form -->
            </div>
            <!-- Modal body -->
        </div>
        <!-- Modal content -->
    </div>
    <!-- Modal dialog -->
</div>

<!-- Modal pour créer un nouvel état -->
<div class="modal fade" id="kt_modal_add_etat" tabindex="-1" aria-hidden="true">
    <!-- Modal dialog -->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" id="kt_modal_add_etat_header">
                <!-- Modal title -->
                <h2 class="fw-bold">Créer un nouvel état</h2>
                <!-- Close button -->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
            </div>
            <!-- Modal header -->
            <!-- Modal body -->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!-- Form -->
                <form id="kt_modal_add_etat_form" class="form" method="">
                    {% csrf_token %}

                    <!-- Scroll -->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_etat_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_etat_header" data-kt-scroll-wrappers="#kt_modal_add_etat_scroll" data-kt-scroll-offset="300px">
                        <!-- Input group -->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Nom de l'état</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="nom_etat" id="nom_etat" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Nom de l'état" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->

                        <!-- Actions -->
                        <div class="text-center pt-15">
                            <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                            <!-- ... Autres éléments HTML ... -->
                            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                <span class="indicator-label">Soumettre</span>
                                <span class="indicator-progress">Veuillez patienter...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!-- ... Autres éléments HTML ... -->

                        </div>
                        <!-- Message display area -->
                        <div id="message-area-etat" class="mt-3"></div>
                    </div>
                    <!-- Scroll -->
                </form>
                <!-- Form -->
            </div>
            <!-- Modal body -->
        </div>
        <!-- Modal content -->
    </div>
    <!-- Modal dialog -->
</div>

<script>
    // ... Code précédent ...

    $(document).ready(function() {
        // ... Code précédent ...

        // Soumettre le formulaire de création d'appelant
        $("#kt_modal_add_appelant_form").submit(function(event) {
            event.preventDefault();

            const data = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: "{% url 'create_appelant' %}",
                data: data,
                success: function(response) {
                    console.log(response);
                    alert(response.message);

                    const modal = $("#kt_modal_add_appelant");
                    modal.modal('hide');

                    // Recharger la page après un délai de 1 seconde (1000 millisecondes)
                    setTimeout(function() {
                        window.location.reload();
                    }, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    const errors = JSON.parse(xhr.responseText).errors;
                    alert("Une erreur s'est produite lors de la création de l'appelant:\n" + errors);
                }
            });
        });

        // Soumettre le formulaire de création d'état
        $("#kt_modal_add_etat_form").submit(function(event) {
            event.preventDefault();

            const data = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: "{% url 'create_etat' %}",
                data: data,
                success: function(response) {
                    console.log(response);
                    alert(response.message);

                    const modal = $("#kt_modal_add_etat");
                    modal.modal('hide');

                    // Recharger la page après un délai de 1 seconde (1000 millisecondes)
                    setTimeout(function() {
                        window.location.reload();
                    }, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    const errors = JSON.parse(xhr.responseText).errors;
                    alert("Une erreur s'est produite lors de la création de l'état:\n" + errors);
                }
            });
        });
    });
</script>
