<div class="card">
    <div class="card-header">
      <h4>Assign Task Table</h4>
      <div class="card-header-form">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-primary"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th class="text-center">
              <div class="custom-checkbox custom-checkbox-table custom-control">
                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                  class="custom-control-input" id="checkbox-all">
                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
              </div>
            </th>
            <th>Tache</th>
            <th>Membres</th>
            <th>Status</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Priorite</th>
            <th>Action</th>
          </tr>
          {% for te in tt %}
          <tr>
            <td class="p-0 text-center">
              <div class="custom-checkbox custom-control">
                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                  id="checkbox-1">
                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
              </div>
            </td>
            <td> {{te.technicientache.tache.nom}} </td>
            <td class="text-truncate">
              {{ te.technicientache.technicien.nom}}
              

            </td>
            <td class="align-middle">
              <div class="progress-text">50%</div>
              <div class="progress" data-height="6">
                <div class="progress-bar bg-success" data-width="50%"></div>
              </div>
            </td>
            <td> {{te.jour}} </td>
            <td>2019-05-28</td>
            <td>
              <div class="badge badge-success"> {{te.technicientache.tache.etat.nom}} </div>
            </td>
            <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>