<div class="card">
    <form class="needs-validation" novalidate="">
      <div class="card-header">
        <h2>Creer une nouvelle tache</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>nom de la tache</label>
          <input name="nom" type="text" class="form-control" required="">
          <div class="invalid-feedback">
            nom de la tache
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" required="">
          <div class="invalid-feedback">
            Oh no! Email is invalid.
          </div>
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input type="email" class="form-control">
          <div class="valid-feedback">
            Good job!
          </div>
        </div>
        <div class="form-group mb-0">
          <label>Message</label>
          <textarea class="form-control" required=""></textarea>
          <div class="invalid-feedback">
            What do you wanna say?
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>