{% extends "base/base.html" %}

{% block title %} detail {% endblock %} 

{% block content %}
    <div class="content">
        <div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h1 class="text-white pb-2 fw-bold">tache: {{object.title}} </h1>
						<h5 class="text-white op-7 mb-2"></h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="/tasks/{{object.id}}/edit" class="btn btn-white btn-border  btn-round mr-2"> <i class="fas fa-edit"></i> editer</a>
						<!-- a href="#" class="btn btn-secondary btn-round  ">Add Customer</!-->
					</div>
				</div>
			</div>
		</div>
        <div class="page-content" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header no-bd">
                        <h5 class="modal-title">
                            <span class="fw-mediumbold">
                                Detail</span> 
                                <span class="fw-light">
                                    Taches
                                </span>
                                <span class="fw-bold">
                                    {{object.title}}
                                </span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="small"> </p>
                            <form method="post" action=" /tasks/{{object.id}}/edit ">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group form-group-default">
                                            <label>nom</label>
                                            <input id="title" type="text" class="form-control" value="{{object.title}}"  >
                                        </div>
                                    </div>
                                    <div class="col-md-4 pr-0">
                                        <div class="form-group form-group-default">
                                            <label for="exampleFormControlSelect1"> agence </label>
                                            <select id="agence" class="form-control" id="exampleFormControlSelect1">
                                                <option value="{{object.agence.id}}" selected> {{object.agence}} </option>
                                                {% for a in agences %}
                                                <option  value=" {{a.id}} ">{{a.name}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Prioriter</label>
                                            <select id="priority" name="" id="" class="form-control" id="exampleFormControlSelect1">
                                                {% for i in pri %}
                                                <option value=" {{i}} ">{{i}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            
                                            <label>Description</label>
                                            <textarea name="description" class="form-control"  rows="3"> {{object.description}} </textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label for="exampleFormControlSelect1"> status </label>
                                            <select name="status" class="form-control" id="exampleFormControlSelect1">
                                                {% for s in status %}
                                                <option value="{{s.1}}">{{s.1}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label for="exampleFormControlSelect1" >complet</label>
                                            <input id="complete" class="form-control" type="checkbox" name="complete" {% if object.complete %} checked {% endif %} id="">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    


{% endblock content %}