{% load static %}
<div class="modal fade" id="add_task" tabindex="-1" aria-hidden="true">
    <!-- Modal dialog -->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!-- Modal content -->
        <div class="modal-content bg-gray-300">
            <!-- Modal header -->
            <div class="modal-header" id="kt_modal_add_task_header">
                <!-- Modal title -->
                <h2 class="fw-bold">Créer une tâche</h2>
                <!-- Close button -->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
            </div>
            <!-- Modal header -->
            <!-- Modal body -->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!-- Form -->
                <form id="kt_modal_add_task_form" class="form" method="">
                    {% csrf_token %}

                    <!-- Scroll -->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_task_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_task_header" data-kt-scroll-wrappers="#kt_modal_add_task_scroll" data-kt-scroll-offset="300px">
                        <!-- Input group -->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Nom de la tâche</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="nom" id="nom" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Nom de la tâche" />
                                <!--end::Input-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Appelant</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select name="appelant" id="appelant" class="form-control form-control-solid mb-3 mb-lg-0">
                                    <!-- Option 1 -->
                                    {% for ap in appelants %}
                                    <option value="{{ap.id}}">{{ap.name}}</option>
                                    {% endfor %}
                                </select>
                                
                                  <!--end::Add product-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Intervention</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select name="intervention" id="intervention" class="form-control form-control-solid mb-3 mb-lg-0">
                                    <!-- Option 1 -->
                                    {% for choice in tache.INTERVENTION_CHOICES %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                
                                  <!--end::Add product-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Type_Intervention</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select name="type_intervention" id="type_intervention" class="form-control form-control-solid mb-3 mb-lg-0">
                                    <!-- Option 1 -->k
                                        {% for choice in tache.TYPE_INTERVENTION_CHOICES %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                </select>
                                
                                  <!--end::Add product-->
                            </div>
                                <!--end: Input-->
                    
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Priorité</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select name="priorite" id="priorite" class="form-control form-control-solid mb-3 mb-lg-0">
                                    <!-- Option 1 -->
                                    <option value="Bas">Basse</option>
                                    <!-- Option 2 -->
                                    <option value="Moyen">Moyenne</option>
                                    <!-- Option 3 -->
                                    <option value="Elever">Élevée</option>
                                    <!-- Ajoutez plus d'options en fonction de vos besoins -->
                                </select>
                                <!--end::Input-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Description</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <textarea name="description" id="description" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Description de la tâche"></textarea>
                                <!--end::Input-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fw-semibold fs-6 mb-2">Numéro d'ordre de service</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="n_os" id="n_os" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Numéro d'ordre de service" />
                                <!--end::Input-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fw-semibold fs-6 mb-2">Status</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select name="status" id="status" class="form-control form-control-solid mb-3 mb-lg-0">
                                    <!-- Option 1 -->
                                    {% for s in status %}
                                    <option value="{{s.0}}">{{s.1}}</option>
                                    {% endfor %}
                                </select>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fw-semibold fs-6 mb-2">Date de début</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="date" name="date_debut" id="date_debut" class="form-control form-control-solid mb-3 mb-lg-0" />
                                <!--end::Input-->
                            </div>
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fw-semibold fs-6 mb-2">Date de fin</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="date" name="date_fin" id="date_fin" class="form-control form-control-solid mb-3 mb-lg-0" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                        <!-- Other form inputs... -->
                        <!-- Actions -->
                        <div class="text-center pt-15">
                            <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                            <!-- ... Autres éléments HTML ... -->
                            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                <span class="indicator-label">Soumettre</span>
                                <span class="indicator-progress">Veuillez patienter...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <!-- ... Autres éléments HTML ... -->

                        </div>
                        <!-- Message display area -->
                        <div id="message-area" class="mt-3"></div>
                    </div>
                    <!-- Scroll -->
                </form>
                <!-- Form -->
            </div>
            <!-- Modal body -->
        </div>
        <!-- Modal content -->
    </div>
    <!-- Modal dialog -->
</div>
<script src="{% static 'assets/plugins/custom/datatables/js/jquery.js' %}"></script>

<script>
    // Function to display messages in the message area
    function displayMessage(message, type) {
        const messageArea = document.getElementById('message-area');
        messageArea.innerHTML = `<div class="alert alert-${type}" role="alert">${message}</div>`;
    }
    document.addEventListener('DOMContentLoaded', function () {

        const addTaskForm = document.getElementById('kt_modal_add_task_form');
    
        addTaskForm.addEventListener('submit', function (event) {
            event.preventDefault();
    
            // Obtenir les valeurs du formulaire sous forme d'objet FormData
            const formData = new FormData(addTaskForm);
            console.log(formData);
            // Récupérer la référence du modal
            const modal = document.getElementById('kt_modal_add_task');
    
            // Effectuer la requête Ajax POST pour créer la tâche
            fetch("{% url 'create_task' %}", {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Gérer la réponse du serveur ici
                // Par exemple, afficher un message de succès ou d'erreur
                console.log(data);
                alert(data.message);
    
                // Masquer le modal en cas de succès
                const modal = new bootstrap.Modal(document.getElementById('kt_modal_add_task'));
                modal.hide();
    
                // Recharger la page après un délai de 1 seconde (1000 millisecondes)
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            })
            .catch(error => {
                // Gérer les erreurs de requête ici
                console.error(error);
                alert("Une erreur s'est produite lors de la création de la tâche.");
            });
        });
    });
    
    
    
</script>
