{% extends "base/body.html" %}

{% block title %} creer tache {% endblock %} 

{% block body %} 

<div class="page-content" >
    <div class="" role="document">
        <div class="modal-content">
            <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="nav nav-tabs page-header-tab">
                            <h2>Creer une nouvelle tache</h2>
                        </ul>
                    </div>
                </div>
                <form action="{% url 'task' %}" method="POST">
                    <div class="form-group">
                        <label for="id_agence">Agence :</label>
                        <select name="agence" class="selectpicker" required id="id_agence">
                            <option value="" selected>---------</option>
                            <option value="{{object.agence}}">{{object.agence}}</option>
                            {% for a in agences %} 
                            <option value="{{a.name}}"> {{a.name}} </option>
                            {% endfor %}
                            
                        </select>
                        
                        
                    </p>
                    </div>
                    
                    <p>
                        <label for="id_appelant"> celui qui appel  :</label>
                        <select name="appelant" required id="id_appelant">
                            <option value="" selected>---------</option>
                            
                            <option value="1">siege 1_Siege:agence 1 appelant agence 1</option>
                            
                        </select>
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_n_OS">Numero d OS :</label>
                        <input type="text" name="n_OS" maxlength="50" id="id_n_OS">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_ok">Ok :</label>
                        <input type="checkbox" name="ok" id="id_ok">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_observation">Observation :</label>
                        <input type="text" name="observation" value="observation" maxlength="100" required id="id_observation">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_nom">Nom :</label>
                        <input type="text" name="nom" maxlength="50" required id="id_nom">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_priorite">Priorite :</label>
                        <select name="priorite" required id="id_priorite">
                            <option value="" selected>---------</option>
                            
                            <option value="Bas">Bas</option>
                            
                            <option value="Moyen">Moyen</option>
                            
                            <option value="Elever">Elever</option>
                            
                        </select>
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_description">Description :</label>
                        <input type="text" name="description" value="description" maxlength="500" required id="id_description">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_etat">Etat :</label>
                        <select name="etat" required id="id_etat">
                            <option value="" selected>---------</option>
                            
                            <option value="1">En cours:RAS</option>
                            
                        </select>
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_date_debut">Date de debut :</label>
                        <input type="text" name="date_debut" id="id_date_debut">
                        
                        
                    </p>
                    
                    
                    <p>
                        <label for="id_technicien">Tecnicien :</label>
                        <select name="technicien" required id="id_technicien">
                            <option value="" selected>---------</option>
                            
                            <option value="1">tech 1</option>
                            
                            <option value="2">t2</option>
                            
                            <option value="3">t3</option>
                            
                            <option value="4">Fotso</option>
                            
                        </select>
                        
                        
                        
                        
                    </p>
                    
                    <input class="button" type="submit" value="Submit">
                </form>
            </div>
            
        </div>
    </div>
</div>
</div>

{% endblock body %}

