<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">jquery-steps vertical wizard</h4>
          <form id="example-vertical-wizard" action="#">
            <div>
              <h3>Account</h3>
              <section>
                <h4>Account</h4>
                <div class="form-group">
                  <label for="userName">User name *</label>
                  <input id="userName" name="userName" type="text" class="required form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password *</label>
                  <input id="password" name="password" type="password" class="required form-control">
                </div>
                <div class="form-group">
                  <label for="confirm">Confirm Password *</label>
                  <input id="confirm" name="confirm" type="password" class="required form-control">
                  <small>(*) Mandatory</small>
                </div>
              </section>
              <h3>Profile</h3>
              <section>
                <h4>Profile</h4>
                <div class="form-group">
                  <label for="name">First name *</label>
                  <input id="name" name="name" type="text" class="required form-control">
                </div>
                <div class="form-group">
                  <label for="surname">Last name *</label>
                  <input id="surname" name="surname" type="text" class="required form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input id="email" name="email" type="text" class="required email form-control">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input id="address" name="address" type="text" class="form-control">
                  <small>(*) Mandatory</small>
                </div>
              </section>
              <h3>Finish</h3>
              <section>
                <h4>Finish</h4>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    I agree with the Terms and Conditions.
                  </label>
                </div>
              </section>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>