{% extends "base/body.html" %}

{% block title %} {{page}} {% endblock %} 

{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row mt-sm-4">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card author-box">
                        <div class="card-body">
                            <div class="author-box-center">
                                <img alt="image de {{object.nom}}" src="{{object.photo}}" class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                                <div class="author-box-name">
                                    <a href="#"> {{object.nom}} </a>
                                </div>
                                <div class="author-box-job">Technicien</div>
                            </div>
                            <div class="text-center">
                                <div class="author-box-description">
                                    <p>
                                        {{object.apropos}}
                                    </p>
                                </div>
                                <div class="mb-2 mt-3">
                                    <div class="text-small font-weight-bold">Follow {{object.nom}}</div>
                                </div>
                                <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-social-icon mr-1 btn-github">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <div class="w-100 d-sm-none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Information personnel</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Date de naissance
                                    </span>
                                    <span class="float-right text-muted">
                                        30-05-1998
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Tel
                                    </span>
                                    <span class="float-right text-muted">
                                        {{object.tel}}
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mail
                                    </span>
                                    <span class="float-right text-muted">
                                        {{object.mail}}
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Facebook
                                    </span>
                                    <span class="float-right text-muted">
                                        <a href="#">#</a>
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Twitter
                                    </span>
                                    <span class="float-right text-muted">
                                        <a href="#">#</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Competence</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                                <li class="media">
                                    <div class="media-body">
                                        <div class="media-title">#</div>
                                    </div>
                                    <div class="media-progressbar p-t-10">
                                        <div class="progress" data-height="6">
                                            <div class="progress-bar bg-primary" data-width="70%"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-body">
                                        <div class="media-title">#</div>
                                    </div>
                                    <div class="media-progressbar p-t-10">
                                        <div class="progress" data-height="6">
                                            <div class="progress-bar bg-warning" data-width="80%"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-body">
                                        <div class="media-title">#</div>
                                    </div>
                                    <div class="media-progressbar p-t-10">
                                        <div class="progress" data-height="6">
                                            <div class="progress-bar bg-green" data-width="48%"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="card">
                        <div class="padding-20">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                                    aria-selected="true">A Propos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                                    aria-selected="false">Configuration</a>
                                </li>
                            </ul>
                            <div class="tab-content tab-bordered" id="myTab3Content">
                                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                                    <div class="row">
                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Nom Complet</strong>
                                            <br>
                                            <p class="text-muted">{{object.nom}} {{object.prenom}}</p>
                                        </div>
                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Telephone</strong>
                                            <br>
                                            <p class="text-muted">{{object.tel}}</p>
                                        </div>
                                        <div class="col-md-3 col-6 b-r">
                                            <strong>Email</strong>
                                            <br>
                                            <p class="text-muted">{{object.email}}</p>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <strong>Adresse</strong>
                                            <br>
                                            <p class="text-muted">{{object.adress}}</p>
                                        </div>
                                    </div>
                                    <p class="m-t-30">
                                        {{object.apropos}}
                                    </p>
                                    <div class="section-title">Education</div>
                                    <ul> {% for ec in object.ecole %}
                                        <li> {{ec.annee}} {{ec.diplome}} {{ec.etablissement}} </li>
                                        
                                        {% endfor %}
                                    </ul>
                                    <div class="section-title">Experience</div>
                                    <ul>
                                        {% for ex in object.exp %}
                                        
                                        <li> {{ex.annee}} {{ex.societe}} {{ex.detail}} </li>
                                        
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                                    <form method="post" class="needs-validation">
                                        {% csrf_token %}
                                        <div class="card-header">
                                            <h4>Editer le Profile</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Nom</label>
                                                    <input name="nom" type="text" class="form-control" value="{{object.nom}}">
                                                    <div class="invalid-feedback">
                                                        Entrez le Nom
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>Prenom</label>
                                                    <input name="prenom" type="text" class="form-control" value="{{object.prenom}}">
                                                    <div class="invalid-feedback">
                                                        entrez le Prenom
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-7 col-12">
                                                        <label>Email</label>
                                                        <input name="email" type="email" class="form-control" value="{{object.email}}">
                                                        <div class="invalid-feedback">
                                                            Please fill in the email
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-5 col-12">
                                                        <label>tel</label>
                                                        <input name="tel" type="text" class="form-control" value="{{object.tel}}">
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-5 col-12">
                                                        <label>matricule</label>
                                                        <input name="matricule" type="text" class="form-control" value="{{object.matricule}}">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label>Bio</label>
                                                        <textarea
                                                        class="form-control summernote-simple">{{object.bio}}</textarea>
                                                    </div>
                                                </div>
                                                <!-- div class="row">
                                                    <div class="form-group mb-0 col-12">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" name="remember" class="custom-control-input" id="newsletter">
                                                            <label class="custom-control-label" for="newsletter">Subscribe to newsletter</label>
                                                            <div class="text-muted form-text">
                                                                You will get new information about products, offers and promotions
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </!-->
                                                </div>
                                                <div class="card-footer text-right">
                                                    <button class="btn btn-primary">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>
    
</div>
                    
                    
                    {% endblock body %}