//
// Custom Variables
//

// Reboot
$app-bg-color: #ECECF1;
$app-bg-color-dark: #151521;

// General
$app-general-root-font-size-desktop: 13px;
$app-general-root-font-size-tablet: 12px;
$app-general-root-font-size-mobile: 12px;

// Header
$app-header-base-height-mobile: 110px;

// Header sticky
$app-header-sticky-bg-color: $body-bg;
$app-header-sticky-bg-color-dark: $body-bg-dark;


// Header primary
$app-header-primary-base-height: 130px;
$app-header-primary-base-bg-color: $info;
$app-header-primary-base-bg-color-dark: $app-header-primary-base-bg-color;
$app-header-primary-base-link-bg-color: $body-bg;
$app-header-primary-base-link-bg-color-dark: $body-bg-dark;
$app-header-primary-base-link-color: #A7A9B4;
$app-header-primary-base-link-color-dark: #A7A9B4;
$app-header-primary-base-custom-btn-color: #2D3145;
$app-header-primary-base-custom-btn-color-dark: #2D3145;

// Header primary sticky
$app-header-primary-sticky-height: 80px;
$app-header-primary-sticky-height-mobile: 70px;
$app-header-primary-sticky-bg-color: $info;
$app-header-primary-sticky-bg-color-dark: $info;

// Header secondary
$app-header-secondary-base-height: 84px;
$app-header-secondary-base-height-mobile: 55px;
$app-header-secondary-base-bg-color: $body-bg;
$app-header-secondary-base-bg-color-dark: $body-bg-dark;
$app-header-secondary-base-link-bg-color:rgba(241, 241, 242, 0.8);
$app-header-secondary-base-link-bg-color-dark:#151521;
 
// Sidebar
$app-sidebar-base-width: 250px;
$app-sidebar-base-width-mobile: 250px; 
$app-sidebar-base-gap-end: 30px;
$app-sidebar-base-gap-top: 30px;
$app-sidebar-base-gap-bottom: 30px;

$app-sidebar-sticky-gap-end: 30px;
$app-sidebar-sticky-gap-top: 30px;
$app-sidebar-sticky-gap-bottom: 30px;

// Content
$app-content-padding-bottom: 0;
$app-content-padding-bottom-mobile: 0;

// Footer
$app-footer-height: auto;
$app-footer-height-mobile: auto;