{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>{% block title %} Base {% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'base/files/css.html' %}


</head>

<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled bg-gray-400">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Aside-->
			{% include 'base/sidebar/side.html' %}
			<!--end::Aside-->
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<!--begin::Header-->
				{% include 'base/header/header.html' %}
				<!--end::Header-->
				<!--begin::Content-->
				{% block content %}
				
				{% endblock content %}
				<!--end::Content-->
				<!--begin::Footer-->
				{% include 'base/footer/footer.html' %}
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>

	{% include 'base/components/panel.html' %}

	<script>var hostUrl = "assets/";</script>
	<!--begin::Global Javascript Bundle(used by all pages)-->
	{% include 'base/files/js.html' %}
	{% block js %}
	
	{% endblock js %}
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
	<!-- Dans votre template -->


</body>

</html>