<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>BF -{% block title %}{% endblock title %} </title>
  {% include 'base/css.html' %}
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
</head>

<body >
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!-- navbar -->
      {% include 'includes/nn.html' %}
      <div class="main-sidebar sidebar-style-2">
          <!-- sidebar -->
          {% include 'includes/side.html' %}
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
        {% block content %}
          
        {% endblock content %}

        </section>
        
      </div>
      <!-- footer -->
      {% include 'includes/footer.html' %}
    </div>
  </div>
  <!-- General JS Scripts -->
 
  {% include 'base/js.html' %}

  {% block js %}
    
  {% endblock js %}
</body>



</html>