{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>{% block title %} full {% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'base/files/css.html' %}


</head>

<body id="kt_body" class="bg-dark">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
        <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'assets/media/illustrations/sketchy-1/14-dark.png' %})">
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
					<!--begin::Logo-->
					<a href="" class="mb-12">
						<img alt="Logo" src="{% static 'media/logo.png' %}" class="h-100px bg-gray-200 " />
					</a>
					<!--end::Logo-->
					<!--begin::Wrapper-->
					{% block content %}
                    
                    {% endblock content %}
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
				<!--begin::Footer-->
				<div class="d-flex flex-center flex-column-auto p-10">
					<!--begin::Links-->
					<div class="d-flex align-items-center fw-bold fs-6">
						<a href="#" class="text-muted text-hover-primary px-2">#--#</a>
						<a href="#" class="text-muted text-hover-primary px-2">#--#</a>
						<a href="#" class="text-muted text-hover-primary px-2">#--#</a>
					</div>
					<!--end::Links-->
				</div>
				<!--end::Footer-->
			</div>
		<!--end::Page-->
	</div>

	

	<script>var hostUrl = "assets/";</script>
	<!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
	{% block js %}
	
	{% endblock js %}
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
	<!-- Dans votre template -->


</body>

</html>