<div id="kt_app_toolbar" class="app-toolbar pt-7 pt-lg-10">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <!--begin::Toolbar container-->
        <div class="d-flex flex-stack flex-row-fluid">
            <!--begin::Toolbar container-->
            <div class="d-flex flex-column flex-row-fluid">
                <!--begin::Toolbar wrapper-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb text-muted fs-6  fw-semibold mb-3">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                        <a href="{% url 'dashboard' %}" class="text-white text-hover-primary">
                            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    {% for item in breadcrumb %}
                        {% if not forloop.last %}
                            <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% else %}
                            <li class="breadcrumb-item text-muted" aria-current="page">{{ item.label }}</li>
                        {% endif %}
                    {% endfor %}
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
                <!--begin::Page title-->
                <div class="page-title d-flex align-items-center me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bolder fs-2qx flex-column justify-content-center my-0"></h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar container-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-5">
                <!--begin::Secondary button-->
                <div class="m-0">
                    
                </div>
                <!--end::Secondary button-->
                <!--begin::Primary button-->
                
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar container-->
</div>