{% extends 'base/body.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
{% if user %} {{ user.technicien.nom }} {% else %} non user {% endif %}

{% block body %}
<h1>Some Line Charts loaded in Ajax!</h1>

<canvas id="myChart" width="50" height="40"></canvas>

<script type="text/javascript" src="{% static 'assets/js/jquery/core.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $.get('{% url "line_chart_json" %}', function(data) {
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line', data: data
        });
    });
</script>
{% endblock %}