<div class="card card-primary">
    <div class="card-header">
        <h4>Login</h4>
    </div>
    <div class="card-title">
        {% if msg %}
        <span class="text-danger">{{ msg | safe }}</span>
        {% else %}
        <span>
            Connectez vous
        </span>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" action="" class="needs-validation" novalidate="">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.username }}
                <div class="invalid-feedback">
                    entrez votre email
                </div>
            </div>
            <div class="form-group">
                <div class="d-block">
                    <label for="password" class="control-label">Password</label>
                    <div class="float-right">
                        <a href="auth-forgot-password.html" class="text-small">
                            mot de passe oublier?
                        </a>
                    </div>
                </div>
                {{ form.password }}
                <div class="invalid-feedback">
                    entrez votre mot de passe
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                    <label class="custom-control-label" for="remember-me">Se souvenir de moi</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Login
                </button>
            </div>
        </form>
        
    </div>
</div>