<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar  flex-column "
     data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
     >
            <!--begin::Sidebar navbar-->
<div
    class="app-sidebar-navbar flex-grow-1 hover-scroll-overlay-y scroll-ms my-5"
    id="kt_app_sidebar_primary_navbar"
    data-kt-scroll="true"
    data-kt-scroll-height="auto"
    data-kt-scroll-dependencies="#kt_app_sidebar_primary_footer"
    data-kt-scroll-wrappers="#kt_app_sidebar_primary_navbar"
    data-kt-scroll-offset="5px"
>
    <!--begin::Navbar-->
    <div class="app-navbar flex-column flex-center pt-5">
                    <!--begin::Navbar item-->
            
            <!--end::Navbar item-->
                    <!--begin::Navbar item-->
            <a href="?page=account/billing" class="btn btn-icon btn-default mx-auto mb-4 active">
                <div class="symbol symbol-40px symbol-circle">
                        <div class="symbol-label fs-5 fw-semibold bg-light-success text-success">A</div>
                </div>
            </a>
            <!--end::Navbar item-->
            
        <!--begin::Navbar item-->
        <div class="app-navbar-item flex-center">
            <!--begin::Navbar link-->
            <a href="?page=apps/calendar" class="btn btn-icon btn-color-danger btn-accent">
                <i class="ki-duotone ki-calendar fs-2x"><span class="path1"></span><span class="path2"></span></i>            </a>
            <!--end::Navbar link-->
        </div>
        <!--end::Navbar item-->
    </div>
    <!--end::Navbar-->
</div>
<!--end::Sidebar navbar-->    </div>
<!--end::Sidebar-->